# Задача 2.

# (5)_ В задании указано: проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup.
# Любые символы можно заменить символом звёздочка *. Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.
#
#
#

# Будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db

# Будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится.
# слэш в конце указывает, что это каталог.
tmp/

# Будут игнорироваться все файлы и каталоги с расширением .DS_Store
# вне зависимости от того, в каком каталоге они находятся.
*.DS_Store

#
#
*.*_old

#
#
*.*_backup

#
#
.gitignore.txt